services:
  postgres:
    image: postgres:17
    container_name: orpheon-postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: orpheon-minio
    env_file:
      - .env
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  redis:
    image: redis:7
    container_name: orpheon-redis
    env_file:
      - .env
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --save "" --appendonly no --loglevel warning

    # command: redis-server --save 60 1 --loglevel warning

volumes:
  postgres_data:
  minio_data:
  redis_data:
